

<h1>Edienkartes</h1>

<table>
  <thead>
    <tr>
      <th>Prodnos</th>
      <th>Quantity</th>
      <th>UserName</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @edienkartes.each do |edienkarte| %>
        <tr>
          <td><%= edienkarte.user.email %></td>
          <td><%= edienkarte.prodnos %></td>
          <td><%= edienkarte.quantity %></td>
          <td><%= link_to 'Show', edienkarte %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<br/>
<br/>
<%= link_to 'Uz galveni', 'lietotajaparametrs#index', class: "btn btn-secondary" %>
<br>

