
<br/>
<div class="card" style="width: 18rem;">
  <% if @edienkarte3.linktophoto %>
    <%= image_tag @edienkarte3.linktophoto %>
  <% end %>

  <div class="card-body">
    <h5 class="card-title"><%= @edienkarte3.prodnos %></h5>
    <p class="card-text">Produkta daudzums: <%= @edienkarte3.quantity %> g</p>
    <p>Produkta cena: €<%= @edienkarte3.cena %></p>

    <a ><%= button_to 'Pirkt', @edienkarte3.shopnos, class: "btn btn-primary" %></a>
  </div>
</div>


<br/>
<br/>
<%= link_to 'Atpakaļ', lietotajaparametrs_activatepython_path, class: "btn btn-primary"  %>


