<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @edienkarte.user_id %>
</p>

<p>
  <strong>Prodnos:</strong>
  <%= @edienkarte.prodnos %>
</p>

<p>
  <strong>Nutrition1:</strong>
  <%= @edienkarte.nutrition1 %>
</p>

<p>
  <strong>Shopnos:</strong>
  <%= @edienkarte.shopnos %>
</p>

<p>
  <strong>Cena:</strong>
  <%= @edienkarte.cena %>
</p>

<p>
  <strong>Linktophoto:</strong>
  <%= @edienkarte.linktophoto %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @edienkarte.quantity %>
</p>

<%= link_to 'Edit', edit_edienkarte_path(@edienkarte) %> |
<%= link_to 'Back', edienkartes_path %>
