<div class="row justify-content-center">
  <div class="col-7">
    <div class="card">
      <div class="card-header">
        <h4> Rediģēt profilu </h4>
      </div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field form-group">
            <% f.label :email %><br />
            <%= f.email_field :email, class: "form-control", placeholder: "E-mail", autofocus: true, autocomplete: "email", disabled: true %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field form-group">
            <% f.label :password %><br />
            <%= f.password_field :password, class: "form-control", placeholder: "Jauna parole (atstāj tukšu, ja negribi neko mainīt)", autocomplete: "new-password" %>
            <% if @minimum_password_length %>

            <% end %>
          </div>
          <br />

          <div class="field form-group">
            <% f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Jaunas paroles apstiprināšana", autocomplete: "new-password" %>
          </div>
          <br />
          <div class="field form-group">
            <% f.label :current_password %>
            <br/>
            <%= f.password_field :current_password, class: "form-control", placeholder: "Tagadēja parole", autocomplete: "current-password" %>
          </div>
          <br />
          <div class="container bg-light">
            <div class="row justify-content-center">
              <div class="col-2">
                <div class="actions">
                  <%= f.submit "Mainīt",class:'btn-lg btn-secondary' %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>



    <h2> <% resource_name.to_s.humanize %></h2>


    <br /><br/>

    <div class="card">
      <div class="card-header">
        <h4>Dzēst profilu</h4>
      </div>
      <div class="card-body">
        <h6 class="card-title">Nepatika? Ir kādas problēmas? Rakstiet uz m.grishajevs@gmail.com</h6>
        <br/>
        <div class="container bg-light">
          <div class="row justify-content-center">
            <div class="col-3">

              <%= button_to "Dzēst profilu", registration_path(resource_name),class:'btn-lg btn-danger', data: { confirm: "Are you sure?" }, method: :delete %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br/>

    <div class="container-fluid bg-light">
      <div class="row justify-content-center">
        <div class="col-2">
          <%= link_to "Atpakaļ", :back ,class:'btn btn-secondary'%>
        </div>
      </div>
    </div>

    <br/>
  </div>
</div>

