<%= form_with(model: lietotajaparametr) do |form| %>
  <% if lietotajaparametr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lietotajaparametr.errors.count, "error") %> prohibited this lietotajaparametr from being saved:</h2>

      <ul>
        <% lietotajaparametr.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :svars %>
    <%= form.text_field :svars %>
  </div>

  <div class="field">
    <%= form.label :augums %>
    <%= form.number_field :augums %>
  </div>

  <div class="field">
    <%= form.label :vecums %>
    <%= form.number_field :vecums, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :dzimums %>
    <%= form.select :dzimums, options_for_select([['Sieviešu', 'S'], ['Vīriešu', 'V']]), prompt: 'Izvēle', class: "form-select"  %>
  </div>

  <div class="field">
    <% form.label :user_id %>
    <%= form.number_field :user_id, id: :lietotajaparametrs_user_id, value: current_user.id, type: :hidden  %>
  </div>

  <div class="field">
    <%= form.label I18n.t(:koef) %>
    <%= form.select :koef, options_for_select([['Neaktīvs', 1.2], ['Mazāk aktīvs', 1.5], ['Vidēji aktīvs', 1.5], ['Vairāk aktīvs', 1.7], ['Ļoti aktīvs', 1.9 ]]), prompt: 'Izvēle', class: "form-select"  %>
  </div>

  <div class="field">
    <%= form.label :goal %>
    <%= form.select :goal, options_for_select([['Tagadēja svara saglabāšana', 0],['Samazināt', 1], ['Muskulatūras palielināšana', 2], ['Svara samazināšana un muskulatatūras palielināšana', 3], ['Massas palielināšana', 4]]), prompt: 'Izvēle', class: "form-select"  %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
