<%= form_with(model: lietotajaparametr) do |form| %>
  <% if lietotajaparametr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lietotajaparametr.errors.count, "error") %> prohibited this lietotajaparametr from being saved:</h2>

      <ul>
        <% lietotajaparametr.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :svars %>
    <%= form.text_field :svars %>
  </div>

  <div class="field">
    <%= form.label :augums %>
    <%= form.number_field :augums %>
  </div>

  <div class="field">
    <%= form.label :vecums %>
    <%= form.number_field :vecums %>
  </div>

  <div class="field">
    <%= form.label :dzimums %>
    <%= form.text_field :dzimums %>
  </div>

  <div class="field">
    <% form.label :user_id %>
    <%= form.number_field :user_id, id: :lietotajaparamets_user_id, value: current_user.id, type: :hidden  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
