

<h1>Edienkartes</h1>

<table>
  <thead>
  <tr>
    <th>Prodnos</th>
    <th>Nutrition1</th>
    <th>Shopnos</th>
    <th>Cena</th>
    <th>Linktophoto</th>
    <th>Quantity</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @edienkartes.each do |edienkarte| %>
    <% if current_user == edienkarte.user %>
      <tr>
        <td><%= edienkarte.prodnos %></td>
        <td><%= edienkarte.nutrition1 %></td>
        <td><%= edienkarte.shopnos %></td>
        <td><%= edienkarte.cena %></td>
        <td><%= edienkarte.linktophoto %></td>
        <td><%= edienkarte.quantity %></td>
        <td><%= link_to 'Show', edienkarte %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<br/>

