

<h1>Lietotajaparametrs</h1>

<table>
  <thead>
    <tr>
      <th>Svars</th>
      <th>Augums</th>
      <th>Vecums</th>
      <th>Dzimums</th>
      <th>Koeficients</th>
      <th>Mērķa svars</th>

      <th></th>

    </tr>
  </thead>

  <tbody>
    <% @lietotajaparametrs.each do |lietotajaparametr| %>
      <% if current_user == lietotajaparametr.user %>
      <tr>
        <td><%= lietotajaparametr.svars %></td>
        <td><%= lietotajaparametr.augums %></td>
        <td><%= lietotajaparametr.vecums %></td>
        <td><%= lietotajaparametr.dzimums %></td>
        <td><%= lietotajaparametr.koef %></td>
        <td><%= lietotajaparametr.goal %></td>
        <td><%= link_to 'Edit', edit_lietotajaparametr_path(lietotajaparametr) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<%# shows button if dumb user closed parameter creating page during registration %>

<br/>
  <% unless Lietotajaparametr.exists?(user_id: current_user.id) %>
    <%=  link_to 'Pievienot parametrus', 'lietotajaparametrs/new', class: "btn btn-secondary"  %>
    <br/>
  <%  end %>

<%# --------------------------------------------------------------------------------- %>

<br/>
<%= link_to 'Nevelāmie produkti', 'nevelprods#index', class: "btn btn-secondary" %>
<br/>
<br/>
<%= link_to 'Velāmie produkti', 'velprods#index', class: "btn btn-secondary" %>
<br/>
<br/>



<%# shows button only if dumb user didnt close 'parameter creating page' during registration %>

<% if Lietotajaparametr.exists?(user_id: current_user.id) %>
  <%= form_with(url: '/lietotajaparametrs/activatepython', method: 'get') do |f| %>
    <%= f.submit "Radīt rezultātus" %>
  <% end %>
<% end %>
