<div class="container">
  <div class="row justify-content-around">
    <div class="col-4">
      <div class="card" style="width: 24rem;">
        <div class="card-body">
          <h1 class="card-title">Jūsu parametri</h1>
            <table class="table table-striped table-hover">
              <thead></thead>
              <tbody>
                <% @lietotajaparametrs.each do |lietotajaparametr| %>
                <% if current_user == lietotajaparametr.user %>
                <tr>
                  <td><strong>Svars:</strong></td>
                  <td><%= lietotajaparametr.svars %> kg</td>

                </tr>
                <tr>
                  <td><strong>Dzimums:</strong></td>
                  <td><%= lietotajaparametr.dzimums %></td>

                </tr>
                <tr>
                  <td><strong>Augums:</strong></td>
                  <td><%= lietotajaparametr.augums %> cm</td>

                </tr>
                <tr>
                  <td><strong>Vecums:</strong></td>
                  <td><%= lietotajaparametr.vecums %> gadi</td>


                </tr>
                <tr>
                  <td><strong>Dzīvesveids:</strong></td>
                  <td><%= lietotajaparametr.koef %></td>

                </tr>
                <tr>
                  <td><strong>Mērķis:</strong></td>
                  <td><%= lietotajaparametr.goal %></td>
                </tr>
              </tbody>
            </table>
            <%= link_to 'Rediģēt parametrus', edit_lietotajaparametr_path(lietotajaparametr), class: 'btn btn-primary' %>
                <% end %>
              <% end %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <% if Lietotajaparametr.exists?(user_id: current_user.id) %>
        <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h1 class="card-title">Izvēlne</h1>
            <table class="table">
              <thead></thead>
              <tbody><td> </td></tbody>
            </table>
          </div>
        <% end %>
        <% if Lietotajaparametr.exists?(user_id: current_user.id) %>
        <table class="table">
          <tbody><td><h6><center>Ir pieejams bāzes produktu saraksts, taču Jūs varat pievienot savus produktus un izvēlēties nevēlamos produktus</center></h6>
          </td></tbody>
        </table>
        <% end %>
          <%# shows button if dumb user closed parameter creating page during registration %>

          <br/>
          <% unless Lietotajaparametr.exists?(user_id: current_user.id) %>
        <%= link_to 'Pievienot parametrus', 'lietotajaparametrs/new', class: "btn btn-secondary" %>
            <br/>
          <%  end %>


          <%# --------------------------------------------------------------------------------- %>
        <%# shows button only if dumb user didnt close 'parameter creating page' during registration %>

        <% if Lietotajaparametr.exists?(user_id: current_user.id) %>
          <br/>
          <%= link_to 'Nevēlamie produkti', 'nevelprods#index', class: "btn btn-secondary" %>
          <br/>
          <br/>
          <%= link_to 'Pievienot vai rediģēt produktu', 'velprods#index', class: "btn btn-secondary" %>
          <br/>
          <br/>




            <%= link_to 'Izveidot un apskatīt ēdienkarti', lietotajaparametrs_activatepython_path, class: "btn btn-primary" %>

          <% end %>
        </div>
      </div>
    </div>
</div>

