

<h1>Lietotajaparametrs</h1>

<table>
  <thead>
    <tr>
      <th>Svars</th>
      <th>Augums</th>
      <th>Vecums</th>
      <th>Dzimums</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lietotajaparametrs.each do |lietotajaparametr| %>
      <% if current_user == lietotajaparametr.user %>
      <tr>
        <td><%= lietotajaparametr.svars %></td>
        <td><%= lietotajaparametr.augums %></td>
        <td><%= lietotajaparametr.vecums %></td>
        <td><%= lietotajaparametr.dzimums %></td>
            <td><%= link_to 'Edit', edit_lietotajaparametr_path(lietotajaparametr) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<br/>
<%= link_to 'Nevel훮mie produkti', 'nevelprods#index', class: "btn btn-secondary" %>
<br/>
<br/>
<%= link_to 'Vel훮mie produkti', 'velprods#index', class: "btn btn-secondary" %>
<br/>
<br/>
<%= form_with(url: '/lietotajaparametrs/activatepython', method: 'get') do |f| %>
  <%= f.submit "Rad카t rezult훮tus" %>
<% end %>
