

<h1>Lietotajaparametrs</h1>

<table>
  <thead>
    <tr>
      <th>Svars</th>
      <th>Augums</th>
      <th>Vecums</th>
      <th>Dzimums</th>
      <th>User</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lietotajaparametrs.each do |lietotajaparametr| %>
      <% if current_user == lietotajaparametr.user %>
      <tr>
        <td><%= lietotajaparametr.svars %></td>
        <td><%= lietotajaparametr.augums %></td>
        <td><%= lietotajaparametr.vecums %></td>
        <td><%= lietotajaparametr.dzimums %></td>
        <td><%= lietotajaparametr.user_id %></td>
            <td><%= link_to 'Edit', edit_lietotajaparametr_path(lietotajaparametr) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lietotajaparametr', new_lietotajaparametr_path, class: "btn btn-secondary"  %>
<br/>
<br/>
<%= link_to 'NevelÄmie produkti', 'nevelprods#index', class: "btn btn-secondary" %>
