

<p>
  <strong>Svars:</strong>
  <%= @lietotajaparametr.svars %>
</p>

<p>
  <strong>Augums:</strong>
  <%= @lietotajaparametr.augums %>
</p>

<p>
  <strong>Vecums:</strong>
  <%= @lietotajaparametr.vecums %>
</p>

<p>
  <strong>Dzimums:</strong>
  <%= @lietotajaparametr.dzimums %>
</p>

<p>
  <strong>User:</strong>
  <%= @lietotajaparametr.user_id %>
</p>

<%= link_to 'Edit', edit_lietotajaparametr_path(@lietotajaparametr) %> |
