<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'CoolNutrition', root_path, class: 'navbar-brand'%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= User.find_by_id(current_user).email %>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><%= link_to 'Mainīt Profilu', edit_user_registration_path, class:"dropdown-item" %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to 'Iziet', destroy_user_session_path, method: :delete, class:"dropdown-item" %></li>
              </ul>
            </li>
          <% else %>
            <form class="d-flex">
              <li class="nav-item">
                <%= link_to 'Reģistrēties', new_user_registration_path, class:"nav-link" %>
              </li>

              <li class="nav-item">
                <%= link_to 'Pieslēgties', new_user_session_path, class:"nav-link" %>
              </li>
            </form>
          <% end %>
        </ul>
    </div>
  </div>
</nav>