<%= form_with(model: bazesprod) do |form| %>
  <% if bazesprod.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bazesprod.errors.count, "error") %> prohibited this bazesprod from being saved:</h2>

      <ul>
        <% bazesprod.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :prod_nos %>
    <%= form.text_field :prod_nos %>
  </div>

  <div class="field">
    <%= form.label :olb %>
    <%= form.text_field :olb %>
  </div>

  <div class="field">
    <%= form.label :tauki %>
    <%= form.text_field :tauki %>
  </div>

  <div class="field">
    <%= form.label :oglh %>
    <%= form.text_field :oglh %>
  </div>

  <div class="field">
    <%= form.label :kcal %>
    <%= form.text_field :kcal %>
  </div>

  <div class="field">
    <%= form.label :A %>
    <%= form.text_field :A %>
  </div>

  <div class="field">
    <%= form.label :B1 %>
    <%= form.text_field :B1 %>
  </div>

  <div class="field">
    <%= form.label :B2 %>
    <%= form.text_field :B2 %>
  </div>

  <div class="field">
    <%= form.label :C %>
    <%= form.text_field :C %>
  </div>

  <div class="field">
    <%= form.label :Ca %>
    <%= form.text_field :Ca %>
  </div>

  <div class="field">
    <%= form.label :P %>
    <%= form.text_field :P %>
  </div>

  <div class="field">
    <%= form.label :Fe %>
    <%= form.text_field :Fe %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
