

<h1>Nevelprods</h1>

<table>
  <thead>
    <tr>
      <th>Prod nos</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @nevelprods.each do |nevelprod| %>
      <% if current_user == nevelprod.user %>
        <tr>
          <td><%= nevelprod.prod_nos %></td>
          <td><%= link_to 'Edit', edit_nevelprod_path(nevelprod) %></td>
          <td><%= link_to 'Destroy', nevelprod, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br/><br/>
<%= form_with(url: '/nevelprods/adding', method: 'get') do |f| %>
  <%= f.select :tocopy, options_from_collection_for_select(@baze, 'id', 'prodnos'), prompt: 'Select prod to edit', class: "form-select"  %>
  <%= f.submit "Add product" %>
<% end %>

<br>

<%= link_to 'New Nevelprod', new_nevelprod_path %>
