<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @nevelprod.user_id %>
</p>

<p>
  <strong>Prod nos:</strong>
  <%= @nevelprod.prod_nos %>
</p>

<%= link_to 'Edit', edit_nevelprod_path(@nevelprod) %> |
<%= link_to 'Back', nevelprods_path %>
