<%= form_with(model: velprod) do |form| %>
  <% if velprod.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(velprod.errors.count, "error") %> prohibited this velprod from being saved:</h2>

      <ul>
        <% velprod.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <% form.label :user_id %>
    <%= form.number_field :user_id, id: :velprods_user_id, value: current_user.id, type: :hidden  %>
  </div>

  <div class="field">
    <%= form.label :prod_nos %>
    <%= form.text_field :prod_nos %>
  </div>

  <div class="field">
    <%= form.label :olb %>
    <%= form.text_field :olb, value: '0' %>
  </div>

  <div class="field">
    <%= form.label :tauki %>
    <%= form.text_field :tauki, value: '0' %>
  </div>

  <div class="field">
    <%= form.label :oglh %>
    <%= form.text_field :oglh, value: '0' %>
  </div>

  <div class="field">
    <%= form.label :kcal %>
    <%= form.text_field :kcal, value: '0'%>
  </div>

  <div class="field">
    <%= form.label :A %>
    <%= form.text_field :A, value: '0' %>
  </div>

  <div class="field">
    <%= form.label :B1 %>
    <%= form.text_field :B1, value: '0' %>
  </div>

  <div class="field">
    <%= form.label :B2 %>
    <%= form.text_field :B2, value: '0' %>
  </div>

  <div class="field">
    <%= form.label :C %>
    <%= form.text_field :C, value: '0' %>
  </div>

  <div class="field">
    <%= form.label :Ca %>
    <%= form.text_field :Ca, value: '0' %>
  </div>

  <div class="field">
    <%= form.label :P %>
    <%= form.text_field :P, value: '0' %>
  </div>

  <div class="field">
    <%= form.label :Fe %>
    <%= form.text_field :Fe, value: '0' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
