<%= form_with(model: velprod) do |form| %>
  <% if velprod.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(velprod.errors.count, "error") %> prohibited this velprod from being saved:</h2>

      <ul>
        <% velprod.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <% form.label :user_id %>
    <%= form.number_field :user_id, id: :velprods_user_id, value: current_user.id, type: :hidden  %>
  </div>

  <div class="field">
    <%= form.label :prod_nos %>
    <%= form.text_field :prod_nos %>
  </div>

  <div class="field">
    <%= form.label :nutrition1 %>
    <%= form.text_field :nutrition1%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
